<div id='payments-page'>
  <div class='container'>
    <div class=''>
      <% if @charity_name %>
        <div class="hidden-xs">
          <h2 class='sc-header'>Thanks for supporting <%= @charity_name %>.</h2>
        </div>
        <div class="visible-xs">
          <h2 class='sc-header-mobile'>Thanks for supporting <%= @charity_name %>.</h2>
        </div>
      <% else %>
      <div class="hidden-xs">
        <h2 class="sc-header">Thanks for your support!</h2>
      </div>
      <div class="visible-xs">
        <h2 class="sc-header-mobile">Thanks for your support!</h2>
      </div>
      <% end %>
    </div>
    <%= render 'payment_form' %>
  </div>
</div>











