<div id='payments-page'>
  <div class='container'>
    <div class='heading-text'>
      <% if @charity_name %>
        <h2 class='sc-header'>Thanks for supporting <%= @charity_name %>.</h2>
      <% else %>
        <h2 class="sc-header">Thanks for your support!</h2>
      <% end %>
    </div>
    <%= render 'payment_form' %>
  </div>
</div>










