@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";

$gray-medium-light: #eaeaea;
$light-black: #293241;
$dark-black: #1B1515;
$bg-green: #00B05D;
$bg-blue: #00D8D6;
$transparent: transparent;

.white-text {
  color: white;
}

.white-bg {
  background-color: white;
}

.sc-header {
  color: white;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom:40px;
}

.sc-header-mobile {
  color: white;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: 26px;
}

html, body {
  margin: 0;
  min-height: 100%;
}

body, .banner-bg {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  height:100%;
  -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
  background-size: cover;
  background: -webkit-linear-gradient(left bottom, $bg-green, $bg-blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, $bg-green, $bg-blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, $bg-green, $bg-blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, $bg-green, $bg-blue); /* Standard syntax  */
  /*background-color: rgba(0,176,93,1);
  background: @include filter-gradient(#00b05d, #00d8d6, horizontal);
  background: @include background-image(linear-gradient(left bottom, rgba(0,176,93,1) 0%, rgba(0,216,214,1) 100%));*/
  background: rgba(0,176,93,1);
  background: -moz-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,176,93,1)), color-stop(22%, rgba(56,189,125,1)), color-stop(100%, rgba(0,216,214,1)));
  background: -webkit-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -o-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  background: linear-gradient(45deg, rgba(0,176,93,1) 0%, rgba(56,189,125,1) 22%, rgba(0,216,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b05d', endColorstr='#00d8d6', GradientType=1 );
  background-repeat: no-repeat;
}

.page-heading {
  color: white;
  text-align: center;
  /*font-weight: 100;*/
  padding-bottom: 0px;
  padding-top: 5%;
  letter-spacing: 1px;
  font-weight: 100;

}


.btn-black {
  @include button-variant($btn-primary-color, $light-black, $dark-black);
  border: none;
  border-radius: 3px;
  /*font-weight: 100;*/
  text-transform: uppercase;
  font-size: 14px;
  padding: 14px 30px;
  letter-spacing: 1px;
}

.pay-button {
  margin-top: 3%;
}

#month, #year, #email, #card-number, #amount, #cvc-number, #phone, #first_name, #last_name {
  font-size: 14px;
  padding: 23px 10px;
  letter-spacing: 1px;
  font-weight: 100;
}

.input-group-addon {
  background-color: #293241;
  border-color: #293241;
}

.fa {
  color: white;
}

.heading-text {
  margin-top: 5%;
  margin-bottom: 5%;
}

.footer-links {
  padding: 30px 0 56px;
  border-top: 0.5px solid white;
}

footer {
  padding-top: 100px;
}

.amount {
  padding-bottom: 20px;
  font-size: 30px;
  padding-top: 0;
}

.stripe-image {
  margin-top:60px;
}

label.terms-label {
    max-width: 100%;
    margin-left: 5px;
    font-weight: 100;
    font-family: Helvetica;
    color:white;
    font-size: 12px;
}

.fa-mobile{
  font-size: 26px;
  padding-left: 4px;
  padding-right: 3px;
}

.fa-envelope {
  font-size: 13px;
  padding: 0px 1px 0px 4px;
}

.fa-usd {
  font-size: 15px;
  padding-right: 4px;
  padding-left: 5px;
}

.fa-credit-card-alt {
  font-size: 10px;
  padding: 0px 3px 0px 4px;
}

.fa-user {
  font-size: 15px;
  padding: 0px 2px 0px 4px;
}

.fa-users {
  font-size: 15px;
  padding: 0px 1x 0px 1px;
}

.fa-calendar {
  font-size: 15px;
  padding: 0px 2px 0px 3px;
}

.fa-lock {
  font-size: 16px;
  padding: 0px 3px 0px 4px;
}