<footer class="navbar navbar-static-bottom">
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="footer-links">
        <ul class="nav navbar-nav navbar-left text-center">
          <div class="row">
            <div class="col-xs-4">
              <li><%= link_to "FAQ", "http://www.smallchangegiving.co/faq", class: 'navbar-text' %></li>
            </div>
            <div class="col-xs-4">
              <li><%= link_to "Team", "http://www.smallchangegiving.co/founders", class: 'navbar-text' %></li>
            </div>
            <div class="col-xs-4">
              <li><%= link_to "Terms", "http://www.smallchangegiving.co/terms", class: 'navbar-text' %></li>
            </div>
          </div>
        </ul>
        <ul class="nav navbar-nav navbar-right text-center">
          <div class="col-xs-4">
            <li><a href="https://www.facebook.com/smallchangegiving/likes"><i class="fa fa-facebook fa-nav"></i></a></li>
          </div>
          <div class="col-xs-4">
            <li><a href="https://twitter.com/smallchangeAU"><i class="fa fa-twitter fa-nav"></i></a></li>
          </div>
          <div class="col-xs-4">
            <li><a href="https://www.instagram.com/smallchangegiving/"><i class="fa fa-instagram fa-nav"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
